<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小何之家</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" type="text/css" href="css/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="css/demo/demo.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/easyUILanguage/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    .navbarDiv{
        width: 1335px
    }
    #drawing {
        width: 1333px;
        height: 601px;
       /* border:1px solid;*/
        position: relative;
    }

    a{
        text-decoration:none;
    }
    .abutton{
        border:1px solid #d0d6f8;
        height:30px;
        line-height:30px;
        padding-left:35px;
        padding-right:10px;
        display:inline-block;
        color:#000000;
    }
    .fitem{
        margin-left: 30%;
        margin-top: 3%;
    }
    .abutton:hover{
        border:1px solid #198eb7;
        height:30px;
        line-height:30px;
        padding-left:35px;
        padding-right:10px;
        display:inline-block;
        color:#527fa3;
    }

    /*下载模板样式*/
    .add_infor{
        border-left:1px solid #d2d2d2;
        border-top:1px solid #d2d2d2;
        font-size:12px;
    }
    .add_infor td{
        height:32px;
        line-height:32px;
        border-right:1px solid #d2d2d2;
        border-left:1px solid #d2d2d2;
        border-top:1px solid #d2d2d2;
        border-bottom:1px solid #d2d2d2;
        vertical-align:middle;
        padding:5px;
    }
    .t_txt{ width:18%; background-color:#E6F1F4; font-weight:bold; text-align:right;}
    .t_con{
        width:32%;
        padding-left:5px;
    }

    .datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber
    {
        text-overflow: ellipsis;
    }

</style>
<body style="margin: 4px 0px 0px 14px;">
<div class="navbarDiv">
    <ul>
        <li><a  href="/index">生日推送</a></li>
        <li><a  href="/wxPushImport">微信通知</a></li>
        <li><a class="active" href="/emailPushImport">邮件通知</a></li>
        <li style="width: 338px"><a href="/pushStatistics">通知统计</a></li>
    </ul>
</div>

<div id="drawing" style="margin-top: 4px">
    <table id="emailManager" class="easyui-datagrid" style="width:100%;height:100%;"
           url="/getAllByPage" method="post"
           toolbar="#linkButton" singleSelect="true" pagination="true" rownumbers="false"   pageSize="14"  pageList="[14,20,30]"
           title="邮件通知管理">
       <!-- <thead>
        <tr>
            <th field="id" hidden="true" width="10%" align="center">ID</th>
            <th field="postName" width="10%" align="center">姓名</th>
            <th field="postEmail" width="15%" align="center">邮箱</th>
            <th field="postTheme" width="20%" align="center">主题</th>
            <th field="postArticle" width="56%" align="center">内容</th>
        </tr>
        </thead>-->
    </table>
    <div id="linkButton">
        <a href="#" class="abutton"  style="background:   url('images/imp.png') 7px 5px no-repeat;background-color: #f2f4f5" plain="true" onclick="emailImport()">导入</a>
        <a href="#" class="abutton"  style="float:right;background:   url('images/edit.png') 7px 5px no-repeat;" plain="true" onclick="editEmail(2)">修改</a>
        <a href="#" class="abutton"  style="float:right;background:   url('images/add.png') 7px 5px no-repeat;margin-right: 2%" plain="true" onclick="editEmail(1)">新增</a>
        <select style="width: 10%;float:right;margin-right: 10px"  id="type" name="type" class="input_txt w99" onchange="init()" >
            <option selected value=0>等待发送</option>
            <option value=1>已经发送</option>
            <option  value=2>发送异常</option>
        </select>
        <label style="float:right;margin-top: 5px;">执行结果：</label>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" onclick="saveOrUpdateEmailTask()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#emailAddAndEdit').dialog('close')">取消</a>
    </div>
    <!--新增或修改-->
    <div id="emailAddAndEdit" class="easyui-dialog" style="width:500px;height:350px;padding:10px 20px"
         closed="true" buttons="#dlg-buttons">
        <form id="ede">
            <input name="id" type="hidden">
            <div class="fitem">
                <i style="color:#FF0000" >*</i><label>邮箱:</label>
                <input type="text"  name="pushAccount" class="input_txt w99" >
            </div>
            <div class="fitem">
                <i style="color:#FF0000" >*</i> <label>姓名:</label>
                <input type="text"  name="pushAccountName" class="input_txt w99"  >
            </div>
            <div class="fitem">
                <i style="color:#FF0000" >*</i> <label>主题:</label>
                <input type="text"  name="pushTheme" class="input_txt w99"  >
            </div>
            <div class="fitem">
                <i style="color:#FF0000" >*</i><label>内容:</label>
                <textarea rows="3" cols="20" name="pushArticle" style="border: 1px #d8d8d8 solid;vertical-align:top">

                    </textarea>
            </div>
        </form>
    </div>
    <div id="dlg-batchEmail">
        <a href="#" class="easyui-linkbutton" iconCls="icon-save" onclick="saveBatchEmail()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#emailImport').dialog('close')">取消</a>
    </div>
    <div id="emailImport" class="easyui-dialog" style="width:500px;height:230px;padding:10px 20px"
         closed="true" buttons="#dlg-batchEmail">
        <table class="add_infor" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="t_txt">模板下载：</td>
                <td><a href="/getEmailImportTemplate?fileName=emailMessageImport.xlsx"
                       style="color: darkturquoise;font-size: medium;font-style: italic;text-decoration: underline;">邮件通知导入统一模板</a></td>
            </tr>
            <tr>
                <td class="t_txt"><i style="color:#FF0000" >*</i>数据附件：</td>
                <td class="t_con">
                    <form id="SEmailTaskImportData" action="" method="post" enctype="multipart/form-data">
                        <input type="file" id="myfile" name="myfile" accept=".xlsx,.xls" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    init();

    function init() {
        $('#emailManager').datagrid({
            url: '/getAllByPage',
            queryParams: {
                type: $("#type").val()
            },
            toolbar: '#linkButton',
            columns: [
                [
                    {field: 'id', title: 'ID', width: '10%', align: 'center', hidden: true},
                    {field: 'pushAccountName', title: '姓名', width: '10%', align: 'center'},
                    {field: 'pushAccount', title: '邮箱', width: '15%', align: 'center'},
                    {field: 'pushTheme', title: '主题', width: '20%', align: 'center'},
                    {field: 'pushArticle', title: '内容', width: '46%', align: 'center',formatter : function(value){
                            if(value != null){
                                value=value.replaceAll("<p  style='text-indent:2em;'>","");
                                value=value.replaceAll("</p>","</br>");
                                if (value.length > 20) {
                                    return '<span title="' + value + '">' + value.substr(0, 20) + '...</span>';
                                } else {
                                    return '<span title="' + value + '>' + value + '</span>';
                                }
                            }else{
                                return "";
                            }

                        }},
                    {field: 'pushStartTime', title: '发送时间', width: '10%', align: 'center',formatter : function(value){
                        if(value != null){
                            var date = new Date(value);
                            var y = date.getFullYear();
                            var m = date.getMonth() + 1;
                            var d = date.getDate();
                            return y + '-' +m + '-' + d;
                        }else{
                            return "";
                        }

                        }}
                ]
            ]
        });
    }




    /*开启邮件通知新增和修改页面*/
    function editEmail(i) {
        if(i==1){
            $('#ede')[0].reset();
            $('#emailAddAndEdit').dialog('open').dialog('setTitle','邮件通知的新增/修改');
        }else{
            var row = $('#emailManager').datagrid('getSelected');
            //弹框加载
            if (row){
                $('#emailAddAndEdit').dialog('open').dialog('setTitle','邮件通知的新增/修改');
                $('#ede').form('load',row);
            }else{
                alert("请选择一条记录");
            }
        }
    }

    /*提交邮件通知新增和修改*/
    function saveOrUpdateEmailTask(){
        $.ajax({
            type: "POST",
            url: "/saveOrUpdateEmailTask" ,
            data: $('#ede').serializeArray(),
            success: function (result) {
                $('#ede')[0].reset();
                $('#emailAddAndEdit').dialog('close')
                $('#emailManager').datagrid('reload');
//                console.log(result);//打印服务端返回的数据(调试用)
//                if (result.resultCode == 200) {
//                    alert("SUCCESS");
//                } ;
            },
            error : function() {
                alert("异常！");
            }
        });
    }

    /* 开启批量导入界面*/
    function emailImport() {
        $('#emailImport').dialog('open').dialog('setTitle','邮件通知批量导入');
    }

    function saveBatchEmail(){
        var type = "myfile";          //后台接收时需要的参数名称，自定义即可
        var id = "myfile";           //即input的id，用来寻找值
        var fileData = $("#"+id)[0].files[0];
        var formData = new FormData();
        formData.append(type, $("#"+id)[0].files[0]);    //生成一对表单属性
       if(fileData ==null || fileData=='undefined'){
            alert("文件为空");
       }else{
           $.ajax({
               type: "POST",           //因为是传输文件，所以必须是post
               url: '/sEmailTaskExcelImport',         //对应的后台处理类的地址
               data: formData,
               processData: false,
               contentType: false,
               success: function (data) {
                   $('#SEmailTaskImportData')[0].reset();
                   $('#emailImport').dialog('close');
                   $('#emailManager').datagrid('reload');
               },
               error : function() {
                   alert("批量导入失败！");
               }
           });
       }
    }
</script>
</html>

